<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista Docenti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Ricerca Docente ..." [(ngModel)]="searchTerm" (ionInput)="filterItem()" ></ion-searchbar>
  <ion-list> 
    <!-- <ion-item *ngFor="let items of items" (click)="itemClick(items)"> -->
    <ion-item *ngFor="let items of filteredItems" (click)="toDetailPage(items)">
    <!-- passo items come dizionario, cosi ho tutti gli attributi -->
      <ion-label>{{items.cognome}}</ion-label>
      {{items.nome}}

    </ion-item>
  </ion-list>

</ion-content>
