<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/unina.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Benvenuto su</ion-card-subtitle>
        <ion-card-title>DocentiPush</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Finalmente puoi sapere attraverso le notifiche se il tuo esame è stato anticipato o se sei stato bocciato!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Risorse</ion-label>
      </ion-list-header>
      <ion-item href="https://www.segrepass2.unina.it/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Segrepass</ion-label>
      </ion-item>
      <ion-item href="https://www.docenti.unina.it/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Docenti Unina</ion-label>
      </ion-item>
      <ion-item href="http://www.unina.it">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Portale di Ateneo</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
